/* Space out content a bit */
body {
  padding: 0;
  margin: 0;
  background-color: black;
  color: red;
}

.header h2 a {
  color: red;
}

.header ul li {
  list-style: none;
  display: inline;
}

.header ul li a {
  color: red;
  padding: 10px 15px 0 0;
}

.header ul li:last-child a {
  padding-left: 10px;
}

.pod {
  text-align: center;
  border: 1px solid red;
  background-color: #000000;
  padding: 0;
  margin: 40px 0 10px 0;
}

.pod .current {
  text-align: center;
}

.pod .previous {
  max-height: 360px;
  overflow-y: scroll;
}

.entry {
  height: 80px;
  list-style: none;
  font-weight: bold;
  font-size: 24px;
  padding-right: 20px;
}

.bg {
}

.bg-in-range {
    color: green;
}

.bg-high {
    color: orange;
}

.bg-low {
    color: red;
}

.direction {
}

.current {
  font-size: 100px;
}

.current .bg {
}

.current .direction {
  padding: 0 10px;
}

.current .time {
  font-size: 30px;
}

.current .ago {
  font-size: 40px;
  font-weight: bold;
}