/* Space out content a bit */
body {
  padding: 0;
  margin: 0;
  background-color: black;
  color: red;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.pod {
  text-align: center;
  border: 1px solid red;
  background-color: #000000;
  padding: 0;
  margin: 40px 0 10px 0;
}

.pod .current {
  text-align: center;
}

.pod .previous {
  max-height: 360px;
  overflow-y: scroll;
}

.entry {
  height: 80px;
  list-style: none;
  font-weight: bold;
  font-size: 24px;
  padding-right: 20px;
}

.bg {
}

.bg.inRange {
    color: green;
}

.bg.high {
    color: orange;
}

.bg.low {
    color: red;
}

.direction {
}

.current {
  font-size: 100px;
}

.current .bg {
}

.current .direction {
  padding: 0 10px;
}

.current .time {
  font-size: 30px;
}

.current .ago {
  font-size: 40px;
  font-weight: bold;
}