<div ng-include="'partials/navbar'"></div>

<div class="pod row">

  <div class="current pull-right">
    <span class="bg" ng-class="bgClass(current)">{{bgDisplay(current)}}</span>
    <span class="direction" ng-class="bgClass(current)" ng-bind-html="directionToChar(current.direction)"></span>
    <div class="time">{{current.timestamp | date:'shortTime'}}</div>
    <div class="ago">{{ago() | timeago }}</div>
  </div>
  <div class="previous pull-left">
    <ul>
      <li class="entry" ng-repeat="entry in entries">
        <span class="bg" ng-class="bgClass(entry)">{{bgDisplay(entry)}}</span>
        <span class="direction" ng-class="bgClass(entry)" ng-bind-html="directionToChar(entry.direction)"></span>
        <span class="time">{{entry.timestamp | date:'shortTime'}}</span>
      </li>
    </ul>
  </div>

</div>
